{{ shopware_root }}/var/log/*.log {
    daily
    missingok
    rotate 14
    compress
    delaycompress
    notifempty
    create 0640 {{ shopware_web_user }} {{ shopware_web_group }}
    sharedscripts
}
