APP_ENV={{ shopware_app_env }}
APP_SECRET={{ shopware_app_secret }}
APP_URL={{ shopware_app_url }}
INSTANCE_ID={{ shopware_instance_id }}
DATABASE_URL=mysql://{{ shopware_db_user }}:{{ shopware_db_password }}@127.0.0.1:3306/{{ shopware_db_name }}
MAILER_DSN=null://null
COMPOSER_HOME=/tmp/composer
